$background-color: #fff;
$theme: dark;
$border-radius: 12px;

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

    .product-card {
    
    max-width: 320px;
    margin: 20px auto;
    padding: 20px;
    background-color: $background-color;
    border-radius: $border-radius;

    &__image {  }
    &__title {  }
    &__description { }
    &__button {  }
    
    &--sale {  }
    
    @include flex-center;

    }


